{{template "base" .}}

{{define "content" }}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mt-5">Test microservices</h1>
                <hr>
                <a id="brokerBtn" class="btn btn-outline-secondary" href="javascript:void(0)">Test broker</a>
                <a id="authBtn" class="btn btn-outline-secondary" href="javascript:void(0)">Test auth</a>
                <a id="authBrokerBtn" class="btn btn-outline-secondary" href="javascript:void(0)">Test auth via broker</a>
                <a id="mailBtn" class="btn btn-outline-secondary" href="javascript:void(0)">Send email</a>
                <a id="logBtn" class="btn btn-outline-secondary" href="javascript:void(0)">Write to log</a>
                <div id="output" class="mt-5" style="outline: 1px solid silver; padding: 2em;">
                    Output shows here...
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="mt-5">Sent</h4>
                <div class="mt-1" style="outline: 1px solid silver; padding: 2em;">
                    <pre id="payload"></pre>
                </div>
            </div>
            <div class="col">
                <h4 class="mt-5">Received</h4>
                <div class="mt-1" style="outline: 1px solid silver; padding: 2em;">
                    <pre id="received"></pre>
                </div>
            </div>
        </div>
    </div>
{{end}}

{{define "js"}}
    <script>
        let brokerBtn = document.getElementById("brokerBtn");
        let authBrokerBtn = document.getElementById("authBrokerBtn");
        let authBtn = document.getElementById("authBtn");
        let output = document.getElementById("output");
        let mailBtn = document.getElementById("mailBtn");
        let logBtn = document.getElementById("logBtn");
        let sent = document.getElementById("payload")
        let received = document.getElementById("received")

        brokerBtn.addEventListener("click", function() {
            let now = new Date();
            output.innerHTML = `<strong>Started:</strong> ${now}...<br><em>Sending request...</em>`;

            const body = {
                method: 'POST',
            }

            // send request to main entrypoint for microservices
            fetch("http://localhost:8080", body)
                .then((response) => response.json())
                .then((data) => {
                    sent.innerHTML = "empty post request";
                    received.innerHTML = JSON.stringify(data, undefined, 4);
                    if (data.error) {
                        console.log(data.error)
                    } else {
                        output.innerHTML += `<br><strong>Response from broker service</strong>: ${data.message}`;
                    }
                })
                .catch((error) =>{
                    output.innerHTML += "<br><br><strong>Error: " + error;
                })
        })

        mailBtn.addEventListener("click", function() {
            let now = new Date();
            output.innerHTML = `<strong>Started:</strong> ${now}...<br><em>Sending request...</em>`;
            const payload = {
                from: "me@here.com",
                to: "you@there.com",
                subject: "Test Email",
                message: "Hello, world!"
            }

            const headers = new Headers();
            headers.append("Content-Type", "application/json");

            const body = {
                method: 'POST',
                body: JSON.stringify(payload),
                headers: headers,
            }

            // send request to main entrypoint for microservices
            fetch(`http://localhost:8080/mail`, body)
                .then((response) => response.json())
                .then((data) => {
                    sent.innerHTML = JSON.stringify(payload, undefined, 4);
                    received.innerHTML = JSON.stringify(data, undefined, 4);
                    if (data.error) {
                        console.log(data.error)
                        output.innerHTML += "<br><br><strong>Error: " + data.message;
                    } else {
                        output.innerHTML += `<br><strong>Response from mail service</strong>: ${data.message}`;
                    }
                })
                .catch((error) =>{
                    output.innerHTML += "<br><br><strong>Error: " + error;
                })
        })

        authBtn.addEventListener("click", function() {
            let now = new Date();
            output.innerHTML = `<strong>Started:</strong> ${now}...<br><em>Sending request...</em>`;

            const payload = {
                email: "trevor.sawler@gmail.com",
                password: "verysecret",
            }

            const headers = new Headers();
            headers.append("Content-Type", "application/json");

            const body = {
                method: 'POST',
                body: JSON.stringify(payload),
                headers: headers,
            }

            fetch(`http://localhost:8081/authenticate`, body)
            .then(response => response.json())
            .then(data => {
                sent.innerHTML = JSON.stringify(payload, undefined, 4);
                received.innerHTML = JSON.stringify(data, undefined, 4);
                if (data.error) {
                    output.innerHTML += `<br><strong>Error:</strong> ${data.message}`;

                } else {
                    output.innerHTML += `<br><strong>Response from auth service:</strong> ${data.message}`;
                }
            })
            .catch(error => {
                output.innerHTML += "<br><br><strong>Error: " + error;
            })
        })

        authBrokerBtn.addEventListener("click", function() {
            let now = new Date();
            output.innerHTML = `<strong>Started:</strong> ${now}...<br><em>Sending request...</em>`;

            const payload = {
                email: "trevor.sawler@gmail.com",
                password: "verysecret",
            }

            const headers = new Headers();
            headers.append("Content-Type", "application/json");

            const body = {
                method: 'POST',
                body: JSON.stringify(payload),
                headers: headers,
            }

            fetch(`http://localhost:8080/authenticate`, body)
                .then(response => response.json())
                .then(data => {
                    sent.innerHTML = JSON.stringify(payload, undefined, 4);
                    received.innerHTML = JSON.stringify(data, undefined, 4);
                    if (data.error) {
                        output.innerHTML += `<br><strong>Error:</strong> ${data.message}`;
                    } else {
                        output.innerHTML += `<br><strong>Response from auth service:</strong> ${data.message}`;
                        output.innerHTML += `<br>Authenticated user ${data.data.first_name}`;
                    }
                })
                .catch(error => {
                    output.innerHTML += "<br><br><strong>Error: " + error;
                })
        })

        logBtn.addEventListener("click", function() {
            let now = new Date();
            output.innerHTML = `<strong>Started:</strong> ${now}...<br><em>Sending log request...</em>`;

            const payload = {
                name: "event",
                data: "Some kind of data",
            }

            const headers = new Headers();
            headers.append("Content-Type", "application/json");

            const body = {
                method: 'POST',
                body: JSON.stringify(payload),
                headers: headers,
            }

            fetch(`http://localhost:8082/log`, body)
                .then(response => response.json())
                .then(data => {
                    sent.innerHTML = JSON.stringify(payload, undefined, 4);
                    received.innerHTML = JSON.stringify(data, undefined, 4);
                    if (data.error) {
                        output.innerHTML += `<br><strong>Error:</strong> ${data.message}`;
                    } else {
                        output.innerHTML += `<br><strong>Response from log service:</strong> ${data.message}`;
                    }
                })
                .catch(error => {
                    output.innerHTML += "<br><br><strong>Error: " + error;
                })
        })
    </script>
{{end}}
