{{template "base" .}}

{{define "content" }}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mt-5">Test Go microservices</h1>
                <hr>
                <a id="brokerBtn" class="btn btn-outline-secondary" href="javascript:void(0)">Test broker</a>
                <a id="authBrokerBtn" class="btn btn-outline-secondary" href="javascript:void(0)">Test auth</a>
                <a id="mailBtn" class="btn btn-outline-secondary" href="javascript:void(0)">Test email</a>
                <a id="logBtn" class="btn btn-outline-secondary" href="javascript:void(0)">Test log</a>
                <a id="logGBtn" class="btn btn-outline-secondary" href="javascript:void(0)">Test gRPC log</a>
                <div id="output" class="mt-5" style="outline: 1px solid silver; padding: 2em;">
                    <span class="text-muted">Output shows here...</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="mt-5">Sent</h4>
                <div class="mt-1" style="outline: 1px solid silver; padding: 2em;">
                    <pre id="payload"><span class="text-muted">Nothing sent yet...</span></pre>
                </div>
            </div>
            <div class="col">
                <h4 class="mt-5">Received</h4>
                <div class="mt-1" style="outline: 1px solid silver; padding: 2em;">
                    <pre id="received"><span class="text-muted">Nothing received yet...</span></pre>
                </div>
            </div>
        </div>
    </div>
{{end}}

{{define "js"}}
    <script>
        let brokerBtn = document.getElementById("brokerBtn");
        let authBrokerBtn = document.getElementById("authBrokerBtn");
        let output = document.getElementById("output");
        let mailBtn = document.getElementById("mailBtn");
        let logBtn = document.getElementById("logBtn");
        let logGBtn = document.getElementById("logGBtn");
        let sent = document.getElementById("payload")
        let received = document.getElementById("received")

        brokerBtn.addEventListener("click", function () {
            started();

            const body = {
                method: 'POST',
            }

            // send request to main entrypoint for microservices
            fetch("http:\/\/localhost:8080", body)
                .then((response) => response.json())
                .then((data) => {
                    sent.innerHTML = "empty post request";
                    received.innerHTML = JSON.stringify(data, undefined, 4);
                    if (data.error) {
                        console.log(data.error)
                    } else {
                        output.innerHTML += `<br><strong>Response from broker service</strong>: ${data.message}`;
                    }
                    ended();
                })
                .catch((error) => {
                    output.innerHTML += "<br><br><strong>Error: " + error;
                })
        })

        mailBtn.addEventListener("click", function () {
            started();
            const payload = {
                action: "mail",
                mail: {
                    from: "me@here.com",
                    to: "you@there.com",
                    subject: "Test Email",
                    message: "Hello, world! This is my test message."
                }
            }

            const headers = new Headers();
            headers.append("Content-Type", "application/json");

            const body = {
                method: 'POST',
                body: JSON.stringify(payload),
                headers: headers,
            }

            // send request to main entrypoint for microservices
            fetch("http:\/\/localhost:8080/handle", body)
                .then((response) => response.json())
                .then((data) => {
                    sent.innerHTML = JSON.stringify(payload, undefined, 4);
                    received.innerHTML = JSON.stringify(data, undefined, 4);
                    if (data.error) {
                        console.log(data.error)
                        output.innerHTML += "<br><br><strong>Error: " + data.message;
                    } else {
                        output.innerHTML += `<br><strong>Response from mail service</strong>: ${data.message}`;
                    }
                    ended();
                })
                .catch((error) => {
                    output.innerHTML += "<br><br><strong>Error: " + error;
                })
        })

        authBrokerBtn.addEventListener("click", function () {
            started();

            const payload = {
                action: "auth",
                auth: {
                    email: "trevor.sawler@gmail.com",
                    password: "verysecret",
                }
            }

            const headers = new Headers();
            headers.append("Content-Type", "application/json");

            const body = {
                method: 'POST',
                body: JSON.stringify(payload),
                headers: headers,
            }

            fetch("http:\/\/localhost:8080/handle", body)
                .then(response => response.json())
                .then(data => {
                    sent.innerHTML = JSON.stringify(payload, undefined, 4);
                    received.innerHTML = JSON.stringify(data, undefined, 4);
                    if (data.error) {
                        output.innerHTML += `<br><strong>Error:</strong> ${data.message}`;
                    } else {
                        output.innerHTML += `<br><strong>Response from auth service:</strong> ${data.message}`;
                        output.innerHTML += `<br>Authenticated user ${data.data.first_name}`;
                    }
                    ended();
                })
                .catch(error => {
                    output.innerHTML += "<br><br><strong>Error: " + error;
                })
        })

        logBtn.addEventListener("click", function () {
            started();

            const payload = {
                action: "log",
                log: {
                    name: "event",
                    data: "Some kind of data",
                }
            }

            const headers = new Headers();
            headers.append("Content-Type", "application/json");

            const body = {
                method: 'POST',
                body: JSON.stringify(payload),
                headers: headers,
            }

            fetch(`http://localhost:8080/handle`, body)
                .then(response => response.json())
                .then(data => {
                    sent.innerHTML = JSON.stringify(payload, undefined, 4);
                    received.innerHTML = JSON.stringify(data, undefined, 4);
                    if (data.error) {
                        output.innerHTML += `<br><strong>Error:</strong> ${data.message}`;
                    } else {
                        output.innerHTML += `<br><strong>Response from log service:</strong> ${data.message}`;
                    }
                    ended();
                })
                .catch(error => {
                    output.innerHTML += "<br><br><strong>Error: " + error;
                })
        })

        logGBtn.addEventListener("click", function () {
            started();

            const payload = {
                action: "log",
                log: {
                    name: "event",
                    data: "Some kind of gRPC data",
                }
            }

            const headers = new Headers();
            headers.append("Content-Type", "application/json");

            const body = {
                method: 'POST',
                body: JSON.stringify(payload),
                headers: headers,
            }

            fetch(`http://localhost:8080/log-grpc`, body)
                .then(response => response.json())
                .then(data => {
                    sent.innerHTML = JSON.stringify(payload, undefined, 4);
                    received.innerHTML = JSON.stringify(data, undefined, 4);
                    if (data.error) {
                        output.innerHTML += `<br><strong>Error:</strong> ${data.message}`;
                    } else {
                        output.innerHTML += `<br><strong>Response from log service:</strong> ${data.message}`;
                    }
                    ended();
                })
                .catch(error => {
                    output.innerHTML += "<br><br><strong>Error: " + error;
                })
        })

        function ended() {
            let now = new Date();
            output.innerHTML += `<br><strong class="text-danger">Ended:</strong> ${now}...<br>`;
        }

        function started() {
            let now = new Date();
            output.innerHTML = `<strong class="text-success">Started:</strong> ${now}...<br><em>Sending request...</em>`;
            received.innerHTML = `<span class="text-muted">Nothing received yet...</span>`;
        }

    </script>
{{end}}
