{{template "base" .}}

{{define "content" }}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mt-5">Test microservices</h1>
                <hr>
                <a id="brokerBtn" class="btn btn-outline-secondary" href="javascript:void(0)">Test broker</a>
                <a id="authBtn" class="btn btn-outline-secondary" href="javascript:void(0)">Test auth</a>
                <div id="output" class="mt-5" style="outline: 1px solid silver; padding: 2em;">
                    Output shows here...
                </div>
            </div>
        </div>
    </div>
{{end}}

{{define "js"}}
    <script>
        let brokerBtn = document.getElementById("brokerBtn");
        let authBtn = document.getElementById("authBtn");
        let output = document.getElementById("output");

        brokerBtn.addEventListener("click", function() {
            let now = new Date();
            output.innerHTML = `<strong>Started:</strong> ${now}...<br><em>Sending request...</em>`;

            // send request to main entrypoint for microservices
            fetch("http://localhost:8080")
                .then((response) => response.json())
                .then((data) => {
                    if (data.error) {
                        console.log(data.error)
                    } else {
                        output.innerHTML += `<br><strong>Response</strong>: ${data.message}`;
                    }
                })
                .catch((error) =>{
                    output.innerHTML += "<br><br><strong>Error: " + error;
                })
        })

        authBtn.addEventListener("click", function() {
            let now = new Date();
            output.innerHTML = `<strong>Started:</strong> ${now}...<br><em>Sending request...</em>`;

            const payload = {
                email: "jack@smith.com",
                password: "verysecret",
            }

            const headers = new Headers();
            headers.append("Content-Type", "application/json");

            const body = {
                method: 'POST',
                body: JSON.stringify(payload),
                headers: headers,
            }

            fetch(`http://localhost:8081/authenticate`, body)
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    output.innerHTML += `<br><strong>Error:</strong> ${data.message}`;
                } else {
                    output.innerHTML += `<br><strong>Response from auth service:</strong> ${data.message}`;
                }
            })
            .catch(error => {
                alert(error);
            })
        })
    </script>
{{end}}
