{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="mt-3">Dashboard</h1>
            <hr>
        </div>
    </div>
</div>
{{end}}